<app-header />
<main>
  <ul id="users">
    @for (user of users; track user.id) {
    <li>
      <app-user
        [id]="user.id"
        [avatar]="user.avatar"
        [name]="user.name"
        [selected]="user.id === selectedUserId"
        (select)="onSelect($event)"
      />
    </li>
    }
    <!-- $event = this.id this.select.emit(this.id) from the chikd-->
  </ul>
  @if (selectedUser) {
  <app-task [userId]="selectedUser.id" [name]="selectedUser.name" />
  } @else {
  <p id="fallback">Select a user to see their tasks!</p>
  }
</main>
